---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/astro/Footer.astro';

// React islands
import BackgroundLoader from '../components/react/BackgroundLoader';
import Header from '../components/react/Header';
import Intro from '../components/react/Intro';
import SectionDivider from '../components/react/SectionDivider';
import About from '../components/react/About';
import Projects from '../components/react/Projects';
import Skills from '../components/react/Skills';
import Experience from '../components/react/Experience';
import ThemeSwitch from '../components/react/ThemeSwitch';

// MDX content
import { getEntry, render } from 'astro:content';

const introEntry = await getEntry('text', 'intro');
const { Content: IntroContent } = await render(introEntry);

const aboutEntry = await getEntry('text', 'about');
const { Content: AboutContent } = await render(aboutEntry);
---

<Layout>
  <BackgroundLoader client:load />
  <Header client:load />
  <main class="flex flex-col items-center px-4 pt-24 sm:pt-28">
    <Intro client:load>
      <IntroContent />
    </Intro>
    <SectionDivider client:visible />
    <About client:visible>
      <AboutContent />
    </About>
    <Projects client:visible />
    <Skills client:visible />
    <Experience client:visible />
  </main>
  <Footer />
  <ThemeSwitch client:load />
</Layout>
